/* Basic reset */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Header Section */
header {
    background-color: #333;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Cover Section */
#cover {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.intro-text {
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.intro-text h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.play-button {
    padding: 15px 30px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #ff4500;
}

/* About Section */
#about, #features, #play {
    padding: 50px 20px;
}

#about {
    background-color: #fafafa;
}

#features {
    background-color: #f0f0f0;
}

/* Play Section */
#play {
    background-color: #fff;
}

#play .play-button {
    background-color: #008CBA;
    color: white;
}

#play .play-button:hover {
    background-color: #005f6b;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p, ul {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 30px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

/* Features Section */
#features {
    padding: 50px 0;
    background-color: #f8f8f8;
    text-align: center;
}

#features h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.feature {
    display: inline-block;
    margin: 20px;
    width: 250px;
    text-align: center;
}

.feature img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

.feature p {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
}
